@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,700&display=swap');

@import "variables";
@import "mixins";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Be Vietnam', sans-serif;

    .header {
        background: linear-gradient(to right, #ff5858, #f857a6);
        padding: 20px 0;
        @include flex-justify(center);

        form {
            @include flex-justify(space-evenly);
            width: 40%;

            #input-filtro {
                width: 75%;
                padding: 15px;
                background: rgba(255, 255, 255, 0.7);
                border: none;
            }

            #btn-submit {
                padding: 15px;
                background: #f8575f;
                border: 1px solid #FFF;
                color: #FFF;
                font-size: 16px;
            }

            #btn-submit:hover {
                cursor: pointer;
                background: #fd7279;
            }
        }
    }

    main {
        @include flex-justify(center, center, column);

        header {
            h1 {
                color: rgb(106, 78, 160);
            }
        }

        .lista-productos {

            padding: 20px 40px;

            .container-productos {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .card {
                    width: 200px;
                    height: 250px;
                    margin: 20px;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

                    .image {
                        height: 200px;
                        width: 100%;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .name {
                        background-color: #f8577f;
                        height: 50px;
                        @include flex-justify(center, center);

                        h3 {
                            margin: 0;
                            color: #FFF;
                        }
                    }
                }

                .card:hover {
                    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                }
            }
        }
    }
}


